@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="../Style/uikit.almost-flat.min.css" />
    <link rel="stylesheet" type="text/css" href="../Style/Style.css" />
    <title>Product</title>
</head>
<body>


   


</body>
</html>
