<html lang="en-gb" dir="ltr" class="uk-notouch">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="../Style/uikit.almost-flat.min.css" />
    <link rel="stylesheet" type="text/css" href="../Style/Style.css" />
    <script src="../js/jquery-2.1.0.js"></script>
    <script src="../js/uikit.min.js"></script>
</head>

<meta name="viewport" content="width=device-width" />
<title>@ViewBag.Title</title>
<link rel="stylesheet" type="text/css" href="../Style/uikit.almost-flat.min.css" />
<link rel="stylesheet" type="text/css" href="../Style/Style.css" />
<script src="../js/jquery-2.1.0.js"></script>
<script src="../js/uikit.min.js"></script>

</head>
<body>

    <div>
        @RenderBody()
    </div>


</body>
</html>