<html lang="en-gb" dir="ltr" class="uk-notouch">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="../Style/uikit.almost-flat.min.css" />
    <link rel="stylesheet" type="text/css" href="../Style/Style.css" />
    <script src="../js/jquery-2.1.0.js"></script>
    <script src="../js/uikit.min.js"></script>
</head>
<meta name="viewport" content="width=device-width" />
<title>@ViewBag.Title</title>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" />
<link rel="stylesheet" type="text/css" href="../Style/Style.css" />
<link rel="stylesheet" type="text/css" href="../Style/uikit.almost-flat.min.css" />
<link rel="stylesheet" type="text/css" href="../Style/jquery.nouislider.css" />
<script src="../js/jquery-2.1.0.js"></script>
@*<script src="../js/jquery.min.js"></script>*@
<script src="../js/jquery.nouislider.js"></script>
<script src="../js/uikit.min.js"></script>
<!--start slider -->
<link rel="stylesheet" type="text/css" href="../Style/fwslider.css" media="all">
<script src="../js/jquery-ui.min.js"></script>
<script src="../js/css3-mediaqueries.js"></script>
<script src="../js/fwslider.js"></script>
<!--end slider -->
<!-- start menu -->
<link rel="stylesheet" type="text/css" href="../Style/megamenu.css" />
<script src="../js/megamenu.js"></script>
<script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
<!--start slider -->
<script src="../js/jquery.easydropdown.js"></script>

</head>
<body>

    <div>
        @RenderBody()
    </div>

</body>
</html>